<a href="https://colab.research.google.com/github/stsan9/EndoMondoResearchERSP/blob/master/Timestamps_RNN_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Import the necessary libraries
%tensorflow_version 2.x
import tensorflow as tf
import numpy as np
import pandas as pd
import math
import os
from sklearn.preprocessing import MinMaxScaler
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.callbacks import ModelCheckpoint
from tensorflow.python.keras.layers import Input, Dense, LSTM, Embedding, Dropout
from tensorflow.python.keras.optimizers import RMSprop
from tensorflow.python.keras.callbacks import EarlyStopping, ModelCheckpoint, TensorBoard, ReduceLROnPlateau
from tensorflow.python.keras.models import load_model

TensorFlow 2.x selected.

In [0]:
# Mount the google drive file system
from google.colab import drive
drive.mount('/content/gdrive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive/

In [0]:
# Load in the data file and store it in a list; data in shared drive
properPath = '/content/gdrive/My Drive/endomondoHR_proper.json' # this may be personalized
rootpath = '/content/gdrive/My Drive/Group Research Materials/McAuley/truncatedData.json'

data = []

with open(rootpath) as f:
    for l in f:
        data.append(eval(l))

In [0]:
# convert to pandas dataframe and drop the unsused columns
dataframe = pd.DataFrame.from_dict(data)
dfsave = dataframe

In [0]:
# function to extract first element of each list "l"
def begin(l):
    if isinstance(l, list):
        return l[0]

# function to get the mean of only the middle 300 / 500 timestamps in one workout
def mean(l):
    return np.mean(l[100:-100])

def sigmoid(X):
   return 1/(1+np.exp(-X))
sigmoid_v = np.vectorize(sigmoid)

In [0]:
# get average heart rate and starting timestamp of all workouts
dataframe['heart_rate'] = dataframe['heart_rate'].apply(mean)
dataframe['timestamp'] = dataframe['timestamp'].apply(begin)

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:3257: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)

In [0]:
dataframe = dataframe.drop(columns = ["longitude", "altitude", "latitude", "speed", "url", "id", "gender"])

In [0]:
all_users=dataframe["userId"].unique()
all_users

array([10921915,  4969375,   430859,   279317,  3905196, 11889307,
        6479229,   854368,  9815069,  4419649])

In [0]:
for user in all_users:
  user_data = dataframe.loc[dataframe["userId"] == user].sort_values("timestamp")
  arr = np.diff(user_data["timestamp"])
  arr = np.append(arr,[0])
  user_data["timestamp"]=arr.tolist()
  indexNames = dataframe[dataframe["userId"] == user].index
  dataframe.drop(indexNames,inplace=True)
  dataframe = dataframe.append(user_data,ignore_index = True)

dataframe = dataframe.rename( columns= { "timestamp" : "hrs_to_next" } )
dataframe

     heart_rate    userId  hrs_to_next             sport
0    145.246667  10921915       410955              bike
1    136.796667  10921915       176728              bike
2    101.633333  10921915         2294  bike (transport)
3    158.870000  10921915       682654              bike
4    138.003333  10921915      1542556              bike
..          ...       ...          ...               ...
995  170.170000   4419649       172157          kayaking
996  162.261261   4419649        62828          kayaking
997  162.920415   4419649       192906          kayaking
998  163.621053   4419649       173292          kayaking
999  148.892977   4419649            0          kayaking

[1000 rows x 4 columns]

In [0]:
# filtering out suspicious users based on heart rate
bad_users = dataframe[dataframe['heart_rate'] > 185]
bad_users = dataframe[dataframe['heart_rate'] < 40]
dataframe = dataframe[~dataframe.userId.isin(bad_users['userId'].unique())]

In [0]:
dataframe

                   sport  heart_rate  hrs_to_next    userId
0                   bike  145.246667       410955  10921915
1                   bike  136.796667       176728  10921915
2       bike (transport)  101.633333         2294  10921915
3                   bike  158.870000       682654  10921915
4                   bike  138.003333      1928398  10921915
...                  ...         ...          ...       ...
167778               run  134.933333       183608        69
167779               run  118.606667       261985        69
167780              bike  133.946667        70575        69
167781               run  131.220000       356850        69
167782               run  137.753333            0        69

[163023 rows x 4 columns]

In [0]:
dataframe = dataframe[dataframe["hrs_to_next"] > 0]
dataframe

     heart_rate    userId  hrs_to_next             sport
0    145.246667  10921915       410955              bike
1    136.796667  10921915       176728              bike
2    101.633333  10921915         2294  bike (transport)
3    158.870000  10921915       682654              bike
4    138.003333  10921915      1542556              bike
..          ...       ...          ...               ...
994  166.750000   4419649       173326          kayaking
995  170.170000   4419649       172157          kayaking
996  162.261261   4419649        62828          kayaking
997  162.920415   4419649       192906          kayaking
998  163.621053   4419649       173292          kayaking

[985 rows x 4 columns]

In [0]:
backup = dataframe
dataframe

     heart_rate    userId  hrs_to_next             sport
0    145.246667  10921915       410955              bike
1    136.796667  10921915       176728              bike
2    101.633333  10921915         2294  bike (transport)
3    158.870000  10921915       682654              bike
4    138.003333  10921915      1542556              bike
..          ...       ...          ...               ...
994  166.750000   4419649       173326          kayaking
995  170.170000   4419649       172157          kayaking
996  162.261261   4419649        62828          kayaking
997  162.920415   4419649       192906          kayaking
998  163.621053   4419649       173292          kayaking

[985 rows x 4 columns]

In [0]:
def sec_to_hours(secs):
  return math.floor((secs / 60 / 60))

In [0]:
dataframe['hrs_to_next'] = dataframe['hrs_to_next'].apply(sec_to_hours)
dataframe

     heart_rate    userId  hrs_to_next             sport
0    145.246667  10921915          114              bike
1    136.796667  10921915           49              bike
2    101.633333  10921915            0  bike (transport)
3    158.870000  10921915          189              bike
4    138.003333  10921915          428              bike
..          ...       ...          ...               ...
994  166.750000   4419649           48          kayaking
995  170.170000   4419649           47          kayaking
996  162.261261   4419649           17          kayaking
997  162.920415   4419649           53          kayaking
998  163.621053   4419649           48          kayaking

[985 rows x 4 columns]

In [0]:
# one hot encode the sports column
one_hot_sport = pd.get_dummies(dataframe.sport)
one_hot_sport
dataframe = pd.concat([dataframe, one_hot_sport], axis = 1)
dataframe = dataframe.drop(columns = "sport")
#dataframe

In [0]:
num_columns = len(dataframe.columns) - 1 # columns - 21 refers to including all the columns except userId
num_columns

12

In [0]:
# number of unique users
len(dataframe["userId"].unique())

1022

In [0]:
# dataframe now only has users who have more than 50 workouts
dataframe = dataframe.groupby("userId").filter(lambda x : len(x) > 50)
len(dataframe["userId"].unique()) # number of unique users after filtering for those with over 40 workouts

7

In [0]:
# Create an object from the Normalizer class
min_scaler = MinMaxScaler()

In [0]:
dataframe

        heart_rate  hrs_to_next   userId  ...  weight training  windsurfing  yoga
29      121.580000           26  4969375  ...                0            0     0
30      157.456667          124  4969375  ...                0            0     0
31      130.203333           42  4969375  ...                0            0     0
32      117.073333            1  4969375  ...                0            0     0
33      157.996667           34  4969375  ...                0            0     0
...            ...          ...      ...  ...              ...          ...   ...
167777  131.490000           42       69  ...                0            0     0
167778  134.933333           51       69  ...                0            0     0
167779  118.606667           72       69  ...                0            0     0
167780  133.946667           19       69  ...                0            0     0
167781  131.220000           99       69  ...                0            0     0

[154675 rows x 45 columns]

In [0]:
"""
@params:
batch_size: how many testing units we want (how many random users do we want to use in training per function call/steps per epoch)
sequence_length: how many workouts per user do we want (e.g. first n number of workouts)

@purpose:
This function is used to generate the training input for the model. Keras models take in
an x and y param, where x is the input, and y is the target output corresponding to the
input.

@algorithm:
Create 2 empty batches. "x_batch" represents what the model will directly take in as input.
"y_batch" represents the true values we want to predict. x and y batches holds data for 
"batch_size" number of users.

To fill all indices in the x and y batch, we perform the for loop below and select
a user one by one from the "userids" list. We extract all of user_x's rows from the dataframe
and sort those rows by their timestamp so the input will be properly sequenced for the model.

We then drop the columns for userId and timestamp for user_x as those are no longer needed 
and don't have any correlation to the heart_rate prediction.

To turn user_x into what will be input the model can accept, we convert it to a numpy array (keras models 
don't take pandas dataframes) and then normalize it's values to be between 0 and 1 (neural networks don't 
work well with large scalars). This final result will be stored in x_scaled, which is then put in x_batch[i].

To turn user_data into what will be the input's corresponding target data, we extract only
the heart_rate, and convert that into a numpy array. This get's stored in y_out and then
y_batch[i].

@returns:
x_batch: input signals to RNN
y_batch: the corresponding target data (heart_rates) to the input signals
"""
def batch_gen(batch_size, sequence_length):
  userids = dataframe['userId'].unique()
  #training_data = pd.DataFrame(columns=dataframe.columns)
  #testing_data = pd.DataFrame(columns=dataframe.columns)

  while True:
  # Allocate a new array for the batch of input_signals.
    x_shape = (batch_size, sequence_length, num_columns)
    x_batch = np.zeros(shape=x_shape, dtype=np.float16)

    # Allocate a new array for the batch of output-signals.
    y_shape = (batch_size, sequence_length)
    y_batch = np.zeros(shape=y_shape, dtype=np.float16)

    for i in range(batch_size):
      user_x = dataframe.loc[dataframe["userId"] == userids[i]]
      user_x = user_x.drop(columns=["userId"])
      y_out = user_x.hrs_to_next

      x_input = user_x.values[0:sequence_length]
      y_out = y_out.values[10:sequence_length + 10]
        
      x_scaled = min_scaler.fit_transform(x_input)
        
      x_batch[i] = x_scaled
      y_batch[i] = sigmoid_v(y_out)
    yield (x_batch, y_batch)

generator = batch_gen(40, 40) # (Batch size: 40), (Sequence length: 40)

In [0]:
"""
Callbacks

- Various callbacks allow monitoring of a model to prevent overfitting.
- The best version of the model (with specific weights) can be saved
- Model will be stopped when loss is not decreasing/is minimized
- Using "EarlyStopping" and "ModelCheckpoint"
  - LR Scheduler?

Resources
- Early Stopping
  - https://machinelearningmastery.com/how-to-stop-training-deep-neural-networks-at-the-right-time-using-early-stopping/
  - Evaluate + Visualize model based on ^^ link
- Model Checkpoint in Google Colab
  - https://medium.com/@mukesh.kumar43585/model-checkpoint-google-colab-and-drive-as-persistent-storage-for-long-training-runs-e35ffa0c33d9
"""

#Stops the model to minimize loss when there is no more improvement
es=EarlyStopping( monitor='val_loss', #quantity to be monitored, validation dataset loss
                  mode='min', #minimizing loss
                  verbose=1, #print out epoch where training was stopped
                  patience=3 #number of epochs with no improvement where training will be stopped
                )

#Save the best model in training for later use
filepath="/content/gdrive/My Drive/EndoMondoData/epochs:{epoch:03d}-val_loss:{val_loss:.3f}.hdf5"
mc= ModelCheckpoint( filepath, #path to where model should be saved
                     monitor='val_loss', #quanity to be monitored
                     mode='min', #minimizing loss
                     verbose='1', #print out epoch saved
                     save_best_only='True' #saves the best model only, won't overwrite per run
                   )

#List of callbacks for model
callbacks_list=[es, mc]

In [0]:
#Load a saved model
#saved_model = load_model('best_model.h5')

In [0]:
# baseline for the rnn, the mse error if the predicted values is the mean of previous workouts
error_sq = [] # list of error values per user

# adds the squared difference of the average per user
for user in dataframe['userId'].unique():
  user_x = dataframe.loc[dataframe["userId"] == user]
  avg_hr = np.average(user_x.iloc[1: 40]['heart_rate'])
  error_sq += [(user_x.iloc[0]['heart_rate'] - avg_hr) ** 2]


dummy_mse = np.average(error_sq) # the final MSE value
print('Baseline MSE: ' + str(dummy_mse))

Baseline MSE: 233.3789807786661

In [0]:
# build the model (1 LSTM layer and 1 output layer)
model = Sequential()

model.add(LSTM(units = 256, return_sequences=True, input_shape = (None, num_columns,)))  # "44" is the number of columns an input has
model.add(Dropout(0.2))
model.add(Dense(256, activation = 'relu'))
model.add(Dropout(0.2))
model.add(Dense(64, activation='relu'))
model.add(Dense(1, activation = 'relu'))  # "linear" activation function f(x) = x

optimizer = tf.keras.optimizers.RMSprop(lr=1e-3) #low learning rate, could change this as well

model.compile(loss='mean_squared_error', optimizer='adam')  # using mse loss function

In [0]:
model.fit(x=generator,  # the batch generator
          epochs=40,            # number of training cycles
          steps_per_epoch=30)#,   # number of calls to generator per cycle
          #callbacks=callbacks_list) #list of callbacks to apply - BROKEN

WARNING:tensorflow:sample_weight modes were coerced from
  ...
    to
  ['...']
Train for 30 steps
Epoch 1/40
30/30 [==============================] - 6s 206ms/step - loss: nan
Epoch 2/40
30/30 [==============================] - 4s 129ms/step - loss: nan
Epoch 3/40
30/30 [==============================] - 4s 129ms/step - loss: nan
Epoch 4/40
30/30 [==============================] - 4s 131ms/step - loss: nan
Epoch 5/40
30/30 [==============================] - 4s 129ms/step - loss: nan
Epoch 6/40
30/30 [==============================] - 4s 130ms/step - loss: nan
Epoch 7/40
30/30 [==============================] - 4s 130ms/step - loss: nan
Epoch 8/40
30/30 [==============================] - 4s 132ms/step - loss: nan
Epoch 9/40
30/30 [==============================] - 4s 131ms/step - loss: nan
Epoch 10/40
30/30 [==============================] - 4s 130ms/step - loss: nan
Epoch 11/40
30/30 [==============================] - 4s 130ms/step - loss: nan
Epoch 12/40
30/30 [==============================] - 4s 132ms/step - loss: nan
Epoch 13/40
30/30 [==============================] - 4s 130ms/step - loss: nan
Epoch 14/40
30/30 [==============================] - 4s 129ms/step - loss: nan
Epoch 15/40
28/30 [===========================>..] - ETA: 0s - loss: nan

KeyboardInterrupt: ignored

Still need to:
- Add callbacks (save the model after training) - SRAVYA 
- Extract a validation set from the current training set - SRAVYA
- Extract a training set and testing set from the current set - ANDRES
- Evaluate the model and experiment with adding back in other contextual variables
- Modify the data and RNN to output a timestamp as well
- Visualize our RNN's predictions